### NAME : YUVARAJ R

### ROLL NO:225229149

### SMA LAB 1: Real time crawling of tweets from Twitter and creating a network of user mentions

In [6]:
import pandas as pd
import numpy as np
import re 
import string 
import warnings
import re

In [7]:
import matplotlib.pyplot as plt

In [8]:
# nltk
import nltk 
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.tokenize import RegexpTokenizer

In [9]:
df = pd.read_csv('twitter analysis.csv', encoding='latin-1', names=["Sentiment", "ID", "Date", "Query", "User", "Tweet"])
df.head(5)

,Sentiment,ID,Date,Query,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [10]:
df.columns

Index(['Sentiment', 'ID', 'Date', 'Query', 'User', 'Tweet'], dtype='object')

In [11]:
df = df.drop(['ID', 'Date', 'Query', 'User'], axis=1)

In [12]:
np.sum(df.isnull().any(axis=1))

0

In [13]:
df['Tweet']=df['Tweet'].str.lower()
df['Tweet'].tail()

1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999    happy #charitytuesday @thenspcc @sparkscharity...
Name: Tweet, dtype: object

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\2mscdsa20\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [16]:
STOPWORDS =  set(stopwords.words('english'))

def cleaning_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])
df['Tweet'] = df['Tweet'].apply(lambda text: cleaning_stopwords(text))
df['Tweet'].tail()

1599995                    woke up. school best feeling ever
1599996    thewdb.com - cool hear old walt interviews! â...
1599997                     ready mojo makeover? ask details
1599998    happy 38th birthday boo alll time!!! tupac ama...
1599999    happy #charitytuesday @thenspcc @sparkscharity...
Name: Tweet, dtype: object

In [17]:
def cleaning_URLs(data):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ',data)
df['Tweet'] = df['Tweet'].apply(lambda x: cleaning_URLs(x))
df['Tweet'].head()

0    @switchfoot  s bummer. shoulda got david carr ...
1    upset can't update facebook texting it... migh...
2    @kenichan dived many times ball. managed save ...
3                     whole body feels itchy like fire
4    @nationwideclass no, behaving all. i'm mad. he...
Name: Tweet, dtype: object

In [18]:
def cleaning_numbers(data):
    return re.sub('[0-9]+', '', data)
df['Tweet'] = df['Tweet'].apply(lambda x: cleaning_numbers(x))
df['Tweet'].head()

0    @switchfoot  s bummer. shoulda got david carr ...
1    upset can't update facebook texting it... migh...
2    @kenichan dived many times ball. managed save ...
3                     whole body feels itchy like fire
4    @nationwideclass no, behaving all. i'm mad. he...
Name: Tweet, dtype: object

In [20]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [21]:
df['Tweet'] = np.vectorize(remove_pattern)(df['Tweet'], "@[\w]*")
df['Tweet'] = df['Tweet'].str.replace("[^a-zA-Z#]", " ")
df['Tweet'] = df['Tweet'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))

In [22]:
tokenizer = RegexpTokenizer(r'\w+')
df['Tweet'] = df['Tweet'].apply(tokenizer.tokenize)

In [23]:
st = nltk.PorterStemmer()
def stemming_on_text(data):
    text = [st.stem(word) for word in data]
    return data
df['Tweet']= df['Tweet'].apply(lambda x: stemming_on_text(x))

In [24]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\2mscdsa20\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\2mscdsa20\AppData\Roaming\nltk_data...

True

In [25]:
lm = nltk.WordNetLemmatizer()
def lemmatizer_on_text(data):
    text = [lm.lemmatize(word) for word in data]
    return ' ' .join(text)
df['Tweet'] = df['Tweet'].apply(lambda x: lemmatizer_on_text(x))

In [26]:
df.head(5)

   Sentiment                                              Tweet
0          0                    bummer shoulda david carr third
1          0  upset update facebook texting might result sch...
2          0       dived many time ball managed save rest bound
3          0                    whole body feel itchy like fire
4          0                                behaving here there